.movie_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: space-between; */
}

.movie_list_link {
  width: calc((100% - 60px) / 4);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.liitem {
  width: 100%;
}
